## Importando pacote

In [2]:
import cx_Oracle

## Estabelecendo Conexao

In [3]:
userName = "system"
password = "5415613"
db = "xe"
try:
    connection = cx_Oracle.connect(userName+"/"+password+"@"+db)
    #connection.close()
except cx_Oracle.Error as e:
    print("Algo deu errado")
    print(e)

## Criando Tabelas

In [11]:
cursor = connection.cursor()

querie = '''
    CREATE TABLE eleitor (
        titulo_de_eleitor NUMBER(5) PRIMARY KEY,
        nome VARCHAR(20) NOT NULL,
        endereco VARCHAR(30) NOT NULL
    )
'''

cursor.execute(querie)
connection.commit()
cursor.close()

## Inserindo Dados

In [13]:
cursor = connection.cursor()
querie = '''
    INSERT INTO eleitor VALUES (11998, 'Emanoel Rafael', 'Recife-PE')
'''
cursor.execute(querie)
connection.commit()
cursor.close()

## Consultando Dados

In [13]:
cursor = connection.cursor()
tabela = input("Digite o nome da tabela:\n")
querie = '''
    SELECT * FROM {}
'''.format(tabela.upper())
ret = cursor.execute(querie)

for c in ret:
    print(c)

connection.commit()
cursor.close()

('147852369789', '80136955819', '2022-10-04')
('321654987987', '53485723738', '1994-10-04')
('321321321321', '95307699034', '1990-10-04')
('147852258741', '10793297222', '2020-10-04')
('357357357357', '83714792988', '2018-10-04')
('369369369369', '53485723738', '1998-10-04')
('852546951753', '92544443910', '2004-10-04')
('258789987852', '37379326627', '2000-10-04')
('159159159159', '71019001194', '1994-10-04')
('987456321147', '35120996531', '1968-10-04')